<div class="container">
  <div class="footer__row">
    <div class="footer__col">
      <h3 class="footer__heading">Bài Viết</h3>
      <ul class="footer__list">
        <li>
          <a
            target="_blank"
            href="https://datxenhanht247.pro/post/grabbienhoa"
            class="footer__link"
            >Grab Biên Hòa</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://goixetructuyen.click/post/grab-long-an"
            class="footer__link"
            >Grab long an</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://datxenhanht247.pro/post/grab-long-khanh"
            class="footer__link"
            >Grab long khanh</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://datxenhanht247.pro/post/grab-trang-bom"
            class="footer__link"
            >Grab Trangr Bom</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">help</h3>
      <ul class="footer__list">
        <li>
          <a
            rel="nofollow"
            target="_blank"
            href="https://grab.com.vn"
            class="footer__link"
            >Contact Us</a
          >
        </li>
        <li>
          <a
            rel="nofollow"
            target="_blank"
            href="https://grab.com.vn"
            class="footer__link"
            >FAQ</a
          >
        </li>
        <li>
          <a
            rel="nofollow"
            target="_blank"
            href="https://grab.com.vn"
            class="footer__link"
            >Accessibility</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">Thông Tin Liên Hệ</h3>
      <ul class="footer__list">
        <li>
          <a href="tel:0859322813" class="footer__link"
            >Hotline: 0559 429 479</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link">
            Adress : 681 bui văn hoa street,bien hoa city ,Đong Nai,VietNam
            country
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="http://DATXENHANHT247.PRO"
            class="footer__link"
            >website:DATXENHANHT247.PRO</a
          >
        </li>
        <li>
          <a
            rel="nofollow"
            target="_blank"
            href="mailto:nhanvien369gs@gmail.com.vn"
            class="footer__link"
            >Email:nhanvien369gs@gmail.com.vn</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <div class="footer__logo">
        <a href="/" class="logo d-flex">
          <img
            src="./assets/image/icon/LOGO.svg"
            alt="LOGO"
            class="logo__icon"
          />
          <h2 class="logo__title">
            <a target="_blank" href="http://DATXENHANHT247.PRO"
              >DATXENHANHT247.PRO</a
            >
          </h2>
        </a>
      </div>
      <form action="" class="footer__form">
        <div class="footer__form-email">
          <input
            type="email"
            class="footer__form-input btn--rounded btn"
            placeholder="Email Adress"
          />
          <button class="footer__form-submit btn--rounded btn btn--primary">
            Send
          </button>
        </div>
        <label for="" class="footer__label"
          >Tiết kiệm 10% khi đặt trước khứ hồi</label
        >
      </form>
      <div class="footer__social">
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.facebook.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/facebook.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.tiktok.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/tiktok.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.linkedin.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/linkedin.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.instagram.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/instagram.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.twitter.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/twitter.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.youtube.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/youtube.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__coppyright">
      © 2010 - 2025 DATXENHANHT247.PRO . All rights reserved.
    </p>
  </div>
</div>
