<div class="container">
  <div class="footer__row">
    <div class="footer__col">
      <h3 class="footer__heading">XE ÔM CÔNG NGHỆ</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">DI CHUYỂN</a>
        </li>
        <li>
          <a href="#!" class="footer__link">GIAO HÀNG</a>
        </li>
        <li>
          <a href="#!" class="footer__link">ĐẶT ĐỒ ĂN</a>
        </li>
        <li>
          <a href="#!" class="footer__link">MÃ KHUYẾN MÃI</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">HELP</h3>
      <ul class="footer__list">
        <li>
          <a href="#!" class="footer__link">Contact Us</a>
        </li>
        <li>
          <a href="#!" class="footer__link">FAQ</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Accessibility</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">ABOUT</h3>
      <ul class="footer__list">
        <li>
          <a href="0559439479" class="footer__link">Hotline: 0559 439 479</a>
        </li>
        <li>
          <a href="#!" class="footer__link">
            Adress : 681 bui văn hoa street,bien hoa city ,Đong Nai,VietNam
            country
          </a>
        </li>
        <li>
          <a href="#!" class="footer__link">Ingredients</a>
        </li>
        <li>
          <a href="#!" class="footer__link">website:datxenhanht247.pro</a>
        </li>
        <li>
          <a href="#!" class="footer__link">Email:hotrodatxe@gmail.com.vn</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <div class="footer__logo">
        <a href="/" class="logo d-flex">
          <img
            src="./assets/image/icon/LOGO.svg"
            alt="LOGO"
            class="logo__icon"
          />
          <h1 class="logo__title">ĐẶT XE NHANH</h1>
        </a>
      </div>
      <form action="" class="footer__form">
        <div class="footer__form-email">
          <input
            type="email"
            class="footer__form-input btn--rounded btn"
            placeholder="Email Adress"
          />
          <button class="footer__form-submit btn--rounded btn btn--primary">
            Send
          </button>
        </div>
        <label for="" class="footer__label"
          >sign up to get 10% off your first order</label
        >
      </form>
      <div class="footer__social">
        <a href="" class="footer__social-link">
          <img
            src="../assets/image/icon/facebook.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="" class="footer__social-link">
          <img
            src="../assets/image/icon/tiktok.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="" class="footer__social-link">
          <img
            src="../assets/image/icon/linkedin.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="" class="footer__social-link">
          <img
            src="../assets/image/icon/instagram.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="" class="footer__social-link">
          <img
            src="../assets/image/icon/twitter.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="" class="footer__social-link">
          <img
            src="../assets/image/icon/youtube.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__coppyright">
      © 2010 - 2025 datxenhanht247. All rights reserved.
    </p>
  </div>
</div>
